.encryptInput1 {
  background-color: rgb(212, 178, 178);
  height: auto;
  font-size: 1.1em;
  display: flex-grow;
  padding: 10px;
  margin: 10px;
  }

  .encryptInput2 {
    background-color: rgb(212, 178, 178);
    height: auto;
    font-size: 1.1em;
    display: flex-grow;
    align-items: space-between;
    padding: 10px;
    margin: 10px;
    }


    .encryptButton {
      margin-top: 50px;
      background-color: blue;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;
      margin: 10px;
      font-size:2em;

          }

.lefttextjustify {
  margin-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch
}

.righttextjustify {
  margin-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch
}


/* decryptInput */
.decryptInputs {
  margin-top: 50px;
  background-color: blue;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 10px;
}

.container1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-color: black;  
  border-style: double;
  border-width: thick;
  margin: 5px;
}

button {
  padding: 8px;
  margin: 10px;
  font-size: 0.8em;
}

input {
  padding: 10px;
  margin: 10px;
}

p {
  padding: 10px;
  margin: 10px;
  background-color: greenyellow;
  border: 1px solid black;
}

encryptedText {
  border: 1px solid black;
  background-color: aqua;
}
